.venv/
__pycache__/
*.pyc
*.pyo
ffmpeg/
models/
vendor/
output/*
!output/.gitkeep
assets/*
!assets/README.txt
!assets/ref_info.json
!assets/.gitkeep
!assets/example/
!assets/ref_audio/
!assets/ref_audio/**
data/ref_audio/*
!data/ref_audio/.gitkeep
*.png
*.wav
!assets/ref_audio/*.wav
*.mp3
.install_mode
logs/
.gradio/
.DS_Store
Thumbs.db
